#{extends 'fitness-template.html' /}
#{set title:'Equipments For You' /}
#{set moreStyles:"
	#breadCrumbsDiv{
	margin-top: -3.5%;
	} 

	.control-group span{
	display: block;
	margin-left: 16%;
	}
	
" /}
#{set workoutPlan:"current" /}
#{set banner:"/public/images/banner_exercises.png" /}


<div id="contentnav">
		<div class="navbar" >
		  <div class="navbar-inner" >
			<a class="brand" href="#">Organize Workout</a>
			<ul class="nav">
			  <li class="active"><a href="/workout_plan.html">Create a Plan</a></li>
			  <li><a href="/workout_view.html">View Plans</a></li>
			</ul>
		  </div>
		</div>
		</div>	
      <div id="breadCrumbsDiv">
		  <ul class="breadcrumb">
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/workout_plan.html">Workout Plan</a> <span class="divider">/</span></li>
		</ul>
	 </div>
    	<br /><br />
	<form class="form-horizontal" name="frmPlan" id="frmPlan" action="">
	  <div class="control-group">
	    <label class="control-label" for="txtStartDate">Start Date</label>
	    <div class="controls">
	      <input type="text" id="txtStartDate" name="txtStartDate" placeholder="Start Date">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="txtEndDate">End Date</label>
	    <div class="controls">
	      <input type="text" id="txtEndDate" name="txtEndDate" placeholder="End Date">
	    </div>
	  </div>
	  <div class="control-group">
	    <span>Select Workout Days</span>
	    <div class="controls">
		<label class="checkbox">
			<input type="checkbox" id="chkMon" name="chkMon" value="monday"> Monday
		</label>
		<label class="checkbox">
			<input type="checkbox" id="chkTue" name="chkTue" value="tuesday"> Tuesday
		</label>
		<label class="checkbox">
			<input type="checkbox" id="chkWed" name="chkWed" value="wednesday"> Wednesday
		</label>
		<label class="checkbox">
			<input type="checkbox" id="chkThu" name="chkThu" value="thursday"> Thursday
		</label>
		<label class="checkbox">
			<input type="checkbox" id="chkFri" name="chkFri" value="friday"> Friday
		</label>
		<label class="checkbox">
			<input type="checkbox" id="chkSat" name="chkSat" value="saturday"> Saturday
		</label>
		<label class="checkbox">
			<input type="checkbox" id="chkSun" name="chkSun" value="sunday"> Sunday
                </label><br />
	      <button type="submit" class="btn">Add Plan</button>
	    </div>
	</form>
    </div>
