#{extends 'fitness-template.html' /}
#{set title:'BMI History' /}
#{set moreStyles:"               
      
      
" /}
#{set bmiCalculator:"current" /}
#{set banner:"/public/images/banner_bmi.png" /}
	<div id="contentnav">
		<div class="navbar" >
		  <div class="navbar-inner" >
			<a class="brand" href="#">Body Mass Index</a>
			<ul class="nav">
			  <li><a href="/bmi_calculator.html">Calculator</a></li>
			  <li class="active"><a href="/bmi_history.html">BMI History</a></li>
			</ul>
		  </div>
		</div>
		</div>
      <div id="breadCrumbsDiv">
		  <ul class="breadcrumb"  >
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/bmi_history.html">BMI History</a> <span class="divider">/</span></li>
		</ul>
	 </div>

        <h3>BMI HISTORY</h3>          
          <table id="historyTable" class="table table-striped">
	    <thead>
		<tr>
                <th>SN</th>
                <th>Weight (Kg)</th>
		<th>Height (Cm)</th>
		<th>BMI Value</th>
              </tr>
	    </thead>
            <tbody>              
              <tr>
                <td>1</td>
                <td>60</td>
		<td>5m</td>
		<td>42</td>
              </tr>              
            </tbody>
          </table>
