#{extends 'main.html' /}
#{set title:'Sign up' /}

<form action="@{Application.signupform()}" method="post">
	<table BORDER="0">
   <tr>
   <td>E-mail:</td><td><input type="text" name="Email" value="" size="25" maxlength="50" /></td>
   </tr>
   <tr>
   <td>Password:</td><td> <input type="text" name="password" value="" size="25" maxlength="50" /> </td>
   </tr>>
   <tr>
   <td>Full Name: </td><td><input type="text" name="fullName" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>Date of birth:</td><td> <input type="text" name="dateOfBirth" value="" size="25" maxlength="50" /> </td>
   </tr>>
   <tr>
   <td>Street:</td><td> <input type="text" name="street" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>Number:</td><td> <input type="text" name="number" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>City:</td><td> <input type="text" name="city" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>Province:</td><td> <input type="text" name="province" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>Country:</td><td> <input type="text" name="country" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>Phone number: </td><td><input type="text" name="phonenumber" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td>Mobile: </td><td><input type="text" name="mobile" value="" size="25" maxlength="50" /> </td>
   </tr>
   <tr>
   <td> </td><td><input type="submit" text="Submit" name="submit" /> </td>
   </tr>
   </table>
</form>