#{extends 'fitness-template.html' /}
#{set title:'Exercises' /}
#{set moreStyles:"
   #mainContentDiv form table{
	margin-left:10%;
	}

	#mainContentDiv form fieldset legend{
	font-size: 1em;
	}

	#mainContentDiv table#searchResult{
	width: 80%;
	margin-left: 5%;
	}
      
      #mainContentDiv form table td{
        font-size:0.8em;
      }     
      
      #mainContentDiv form legend{
        font-size:0.85em;
          font-weight:bold;
      }
          
      #mainContentDiv h4{
        padding-top: 0.2em;
        text-align: left;  
        height:10px;
        margin-left: 1em;
      }
      
      #mainContentDiv table th{
       font-size: 0.9em;
        width: 33%;
      }      	
" /}
#{set exercises:"current" /}
#{set banner:"/public/images/banner_exercises.png" /}
<div>
		<div class="navbar" id="contentnav">
		  <div class="navbar-inner" >
			<a class="brand" href="/Exercises/exercises.html">Exercises</a>
			<ul class="nav">
			  <li><a href="/Exercises/exercises_beginner.html">Beginner</a></li>
			  <li><a href="/Exercises/exercises_intermediate.html">Intermediate</a></li>
			  <li><a href="/Exercises/exercises_expert.html">Expert</a></li>
			</ul>
		  </div>
		</div>
		</div>		
      <div id="breadCrumbsDiv">	  
	  <ul class="breadcrumb">
		  <li><a href="/">Home</a> <span class="divider">/</span></li>
		  <li><a href="/Exercises/exercises.html">Exercises</a> <span class="divider">/</span></li>
		</ul>
	  </div>
      <div id="content">
        <h3>Recent Exercises</h3>
        <ul>
        	#{list exerciseList, as:'exercise'}
    			<li><a href = "@{Exercises.loadExercise(exercise.id)}">${exercise.title}</a></li>
			#{/list}     
			#{else}
			No exercises for now
			#{/else}     
        </ul>
        <form name="frmSearch" id="frmSearch" method="post">
          <fieldset> <legend>Search for Exercises</legend>
            <table>
              <tbody>
                <tr>
                  <td><input type="text" name="txtSearch" id="txtSearch" placeholder="Search" /></td>
                </tr>
                <tr>
                  <td>
                    <select name="selCategory" id="selCategory">
                      <option value="muscle">Muscle</option>
                      <option value="research">Research</option>
                      <option value="psychology">Psychology</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><input class="btn btn-inverse "  type="submit"
                      value="Search" id="btnSearch" name="btnSearch" /> </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </form>
        <br />
        <table id="searchResult" class="table table-striped">
          <tbody>
            <tr>
              <th>Title</th>
              <th>Release Date</th>
              <th>User Rating</th>
            </tr>
		<tr>
			<td>Press-ups & Push-ups</td>
			<td>5 July</td>
			<td>***</td>
		</tr>
          </tbody>
        </table>
      </div>
