<!DOCTYPE html>

<html>
    <head>
    <script type="text/javascript">
	function calculateBMI()
	{
		//alert("hi");
		weight = document.getElementById("txtWeight").innerHTML;
		height = document.getElementById("txtHeight").innerHTML;
		bmi =  weight/(height*height);
		alert("hi " + weight);
		document.getElementById("txtBMI").innerHTML = bmi;
	}
	</script>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
	<style type="text/css">	   
		#{get 'moreStyles' /}  	   
	</style>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/mainStyle.css'}">
        <link rel="shortcut icon" type="image/ico" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
